[submodule "emailer-service"]
	path = emailer-service
	url = ssh://git@github.com/LorenzoLeonardo/emailer-service.git
	branch = "master"
[submodule "modern-auth-service"]
	path = modern-auth-service
	url = ssh://git@github.com/LorenzoLeonardo/modern-auth-service.git
	branch = "master"
[submodule "ipc-server"]
	path = ipc-server
	url = ssh://git@github.com/LorenzoLeonardo/ipc-server.git
	branch = "master"
[submodule "smtp-xoauth2"]
	path = smtp-xoauth2
	url = ssh://git@github.com/LorenzoLeonardo/smtp-xoauth2.git
	branch = "master"
[submodule "remote-call"]
	path = remote-call
	url = https://github.com/LorenzoLeonardo/remote-call.git
